:root {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #242424;
  color: white;
}

body {
  padding: 0;
  margin: 0;
}

.hero {
  background-color: #e2001a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2.125rem;
}

.margin-0 {
  margin: 0;
  text-align: center;
}

.hero a {
  padding-left: 0.1rem;
  width: 17.777777%;
  margin-right: 0.4rem;
}

.none {
  text-decoration: none;
  color: white;
}

.font-100 {
  font-weight: 100;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.hero a:hover {
  text-decoration: underline;
}
.navbar {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 4.125rem;
}

.logo {
  width: 8rem;
  height: auto;
}
.navbar ul {
  display: none;
  padding: 0;
}
.navbar ul li a {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  list-style-type: none;
  color: red;
  font-weight: 600;

}
.navbar ul li {
  margin-left: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  list-style-type: none;
  color: #e2001a;
}

@media (min-width: 768px) {
  .text-xs {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .hero {
    text-align: start;
  }

  .margin-0 {
    text-align: end;
  }

  .hero a {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar ul {
    display: flex;
  }
}
